@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("/src/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Lobster";
  font-display: swap;
  src: url("/src/fonts/Lobster-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("/src/fonts/RobotoCondensed-Regular.ttf");
}
._desktop-hidden {
  display: none !important;
}
@media screen and (max-width: 1000px) {
  ._desktop-hidden {
    display: block !important;
  }
}

._mobile-hidden {
  display: block !important;
}
@media screen and (max-width: 1000px) {
  ._mobile-hidden {
    display: none !important;
  }
}

._hidden {
  display: none !important;
}

._noopacity {
  opacity: 0 !important;
}

._dflex {
  display: flex;
}

._flex-column {
  flex-direction: column;
}

._justify-content-beetwen {
  justify-content: space-between;
}

._mt30 {
  margin-top: 2.0833333333vw;
}
@media screen and (min-width: 1441px) {
  ._mt30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1000px) {
  ._mt30 {
    margin-top: 5vw;
  }
}

._mb20 {
  margin-bottom: 1.3888888889vw;
}
@media screen and (min-width: 1441px) {
  ._mb20 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  ._mb20 {
    margin-bottom: 3.8888888889vw;
  }
}

._my20 {
  margin-top: 1.3888888889vw;
  margin-bottom: 1.3888888889vw;
}
@media screen and (min-width: 1441px) {
  ._my20 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  ._my20 {
    margin-top: 3.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  ._my20 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  ._my20 {
    margin-bottom: 3.8888888889vw;
  }
}

* {
  font-family: "Roboto";
}

body {
  background-image: url("/src/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  overflow: hidden;
}

.count-films {
  color: #ffffff;
  font-size: 0.8333333333vw;
  position: absolute;
  bottom: 0.8333333333vw;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, 0);
}
@media screen and (min-width: 1441px) {
  .count-films {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .count-films {
    font-size: 3.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .count-films {
    bottom: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .count-films {
    bottom: 3.3333333333vw;
  }
}

.tooltip {
  border-radius: 50%;
  border: 1px solid #248a79;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1.3888888889vw;
  width: 1.3888888889vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1111111111vw;
  margin-left: 0.8333333333vw;
  position: relative;
  z-index: 9;
}
@media screen and (min-width: 1441px) {
  .tooltip {
    height: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip {
    height: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip {
    width: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip {
    width: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip {
    font-size: 3.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip {
    margin-left: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip {
    margin-left: 3.3333333333vw;
  }
}
.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  color: #ffffff;
  background-color: black;
  width: 20.8333333333vw;
  padding-top: 0.5555555556vw;
  padding-bottom: 0.5555555556vw;
  padding-left: 0.5555555556vw;
  padding-right: 0.5555555556vw;
  left: 3.3333333333vw;
  top: 0;
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text {
    width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text {
    width: 83.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text {
    padding-top: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text {
    padding-top: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text {
    padding-bottom: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text {
    padding-left: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text {
    padding-left: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text {
    padding-right: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text {
    padding-right: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text {
    left: 48px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text {
    left: 13.3333333333vw;
  }
}
.tooltip .tooltip-text:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 1.1111111111vw;
  border-right-color: black;
  top: 50%;
  left: -2.2222222222vw;
  transform: translateY(-50%);
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text:after {
    border-width: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text:after {
    border-width: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .tooltip .tooltip-text:after {
    left: -32px;
  }
}
@media screen and (max-width: 1000px) {
  .tooltip .tooltip-text:after {
    left: -8.8888888889vw;
  }
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateX(0%) translateY(-30%);
}
@media screen and (max-width: 1000px) {
  .tooltip {
    position: unset;
  }
  .tooltip .tooltip-text {
    width: 86vw;
    left: 2%;
    right: 2%;
    border: 1px solid #ffffff;
    top: 50%;
  }
  .tooltip .tooltip-text:after {
    display: none;
  }
}

.text {
  color: #ffffff;
  font-size: 1.25vw;
}
@media screen and (min-width: 1441px) {
  .text {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .text {
    font-size: 3.8888888889vw;
  }
}
.text-center {
  text-align: center;
}
.text-large {
  font-size: 3.4722222222vw;
  line-height: 1;
}
@media screen and (min-width: 1441px) {
  .text-large {
    font-size: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .text-large {
    font-size: 8.8888888889vw;
  }
}

.container {
  max-width: 83.8888888889vw;
  min-width: 41.6666666667vw;
  margin: 0 auto;
}
@media screen and (min-width: 1441px) {
  .container {
    max-width: 1208px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 335.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .container {
    min-width: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    min-width: 166.6666666667vw;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: auto;
    min-width: auto;
    width: 100%;
  }
}

.options, .losing, .about {
  padding-left: 3.4722222222vw;
  padding-right: 3.4722222222vw;
}
@media screen and (min-width: 1441px) {
  .options, .losing, .about {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .options, .losing, .about {
    padding-left: 13.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .options, .losing, .about {
    padding-right: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .options, .losing, .about {
    padding-right: 13.8888888889vw;
  }
}

.menu {
  width: 41.6666666667vw;
  text-align: center;
}
@media screen and (min-width: 1441px) {
  .menu {
    width: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    width: 166.6666666667vw;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    width: 100%;
  }
}
.menu__logo {
  background-image: url("/src/img/logo.png");
  height: 25.6944444444vw;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 2.7777777778vw;
}
@media screen and (min-width: 1441px) {
  .menu__logo {
    height: 370px;
  }
}
@media screen and (max-width: 1000px) {
  .menu__logo {
    height: 58.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .menu__logo {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .menu__logo {
    margin-bottom: 11.1111111111vw;
  }
}
@media screen and (max-width: 1000px) {
  .menu__logo {
    width: 100%;
  }
}
.menu__shot {
  background-repeat: no-repeat;
  background-position: center;
  height: 20.1388888889vw;
  width: 36.1111111111vw;
  filter: blur(2px);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1441px) {
  .menu__shot {
    height: 290px;
  }
}
@media screen and (max-width: 1000px) {
  .menu__shot {
    height: 58.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .menu__shot {
    width: 520px;
  }
}
@media screen and (max-width: 1000px) {
  .menu__shot {
    width: 144.4444444444vw;
  }
}
@media screen and (max-width: 1000px) {
  .menu__shot {
    height: 78%;
    width: 90%;
  }
}
.menu__title {
  font-family: "Lobster";
  color: #ffad18;
  text-shadow: 3px 3px 0px #000;
  font-weight: 500;
  font-size: 4.5833333333vw;
  line-height: 1;
  z-index: 3;
}
@media screen and (min-width: 1441px) {
  .menu__title {
    font-size: 66px;
  }
}
@media screen and (max-width: 1000px) {
  .menu__title {
    font-size: 11.6666666667vw;
  }
}
.menu .button {
  box-sizing: border-box;
  padding-left: 1.3888888889vw;
  padding-right: 1.3888888889vw;
}
@media screen and (min-width: 1441px) {
  .menu .button {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .menu .button {
    padding-left: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .menu .button {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .menu .button {
    padding-right: 5.5555555556vw;
  }
}

.other-games {
  display: none;
  width: 41.6666666667vw;
  text-align: center;
}
@media screen and (min-width: 1441px) {
  .other-games {
    width: 600px;
  }
}
@media screen and (max-width: 1000px) {
  .other-games {
    width: 166.6666666667vw;
  }
}
@media screen and (max-width: 1000px) {
  .other-games {
    width: 100%;
  }
}
.other-games .button {
  box-sizing: border-box;
  padding-left: 1.3888888889vw;
  padding-right: 1.3888888889vw;
}
@media screen and (min-width: 1441px) {
  .other-games .button {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .other-games .button {
    padding-left: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .other-games .button {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .other-games .button {
    padding-right: 5.5555555556vw;
  }
}

.loader {
  display: none;
  color: #fff;
  font-size: 2.2222222222vw;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1441px) {
  .loader {
    font-size: 32px;
  }
}
@media screen and (max-width: 1000px) {
  .loader {
    font-size: 6.6666666667vw;
  }
}

.header {
  position: absolute;
  width: inherit;
  box-sizing: border-box;
  top: 0.8333333333vw;
}
@media screen and (min-width: 1441px) {
  .header {
    top: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    top: 3.3333333333vw;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    padding-left: 1.3888888889vw;
    padding-right: 1.3888888889vw;
    left: 0;
  }
}
@media screen and (max-width: 1000px) and (min-width: 1441px) {
  .header {
    padding-left: 20px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 1000px) {
  .header {
    padding-left: 5.5555555556vw;
  }
}
@media screen and (max-width: 1000px) and (min-width: 1441px) {
  .header {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 1000px) {
  .header {
    padding-right: 5.5555555556vw;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: none;
  color: #ffffff;
  font-size: 1.5277777778vw;
}
@media screen and (min-width: 1441px) {
  .about {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    font-size: 4.4444444444vw;
  }
}

.playground {
  display: none;
  width: 55.5555555556vw;
}
@media screen and (min-width: 1441px) {
  .playground {
    width: 800px;
  }
}
@media screen and (max-width: 1000px) {
  .playground {
    width: 222.2222222222vw;
  }
}
@media screen and (max-width: 1000px) {
  .playground {
    width: 100%;
  }
}
.playground-quest {
  transition: 0.2s;
  opacity: 1;
}
.playground-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.3888888889vw;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
@media screen and (min-width: 1441px) {
  .playground-answers {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answers {
    margin-top: 5.5555555556vw;
  }
}
.playground-answers .button {
  width: 47%;
  height: 1.8055555556vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5555555556vw;
}
@media screen and (min-width: 1441px) {
  .playground-answers .button {
    height: 26px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answers .button {
    height: 6.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answers .button {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answers .button {
    margin-bottom: 2.2222222222vw;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answers .button {
    width: 100%;
  }
}
.playground-answer {
  display: flex;
  align-items: flex-start;
  margin-top: 1.3888888889vw;
}
@media screen and (min-width: 1441px) {
  .playground-answer {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer {
    margin-top: 3.8888888889vw;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer {
    flex-wrap: wrap;
  }
}
.playground-answer-left {
  width: 100%;
  position: relative;
}
.playground-answer-input {
  width: 100%;
  padding-top: 0.5555555556vw;
  padding-bottom: 0.5555555556vw;
  padding-left: 1.1111111111vw;
  padding-right: 1.1111111111vw;
  font-size: 1.25vw;
  line-height: 2.2222222222vw;
  border-radius: 0.4166666667vw;
  border: none;
  outline: none;
}
@media screen and (min-width: 1441px) {
  .playground-answer-input {
    padding-top: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-input {
    padding-top: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-input {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-input {
    padding-bottom: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-input {
    padding-left: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-input {
    padding-left: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-input {
    padding-right: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-input {
    padding-right: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-input {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-input {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-input {
    line-height: 32px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-input {
    line-height: 8.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-input {
    border-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-input {
    border-radius: 1.6666666667vw;
  }
}
.playground-answer-input-opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.playground-answer-suggestions {
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 0.4166666667vw;
  border-bottom-right-radius: 0.4166666667vw;
  overflow: hidden;
}
@media screen and (min-width: 1441px) {
  .playground-answer-suggestions {
    border-bottom-left-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-suggestions {
    border-bottom-left-radius: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-suggestions {
    border-bottom-right-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-suggestions {
    border-bottom-right-radius: 1.6666666667vw;
  }
}
.playground-answer-suggestion {
  cursor: pointer;
  background-color: #ffffff;
  padding-top: 0.5555555556vw;
  padding-bottom: 0.5555555556vw;
  padding-left: 1.1111111111vw;
  padding-right: 1.1111111111vw;
}
@media screen and (min-width: 1441px) {
  .playground-answer-suggestion {
    padding-top: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-suggestion {
    padding-top: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-suggestion {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-suggestion {
    padding-bottom: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-suggestion {
    padding-left: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-suggestion {
    padding-left: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-answer-suggestion {
    padding-right: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-suggestion {
    padding-right: 4.4444444444vw;
  }
}
.playground-answer-suggestion:hover {
  background-color: #e6e6e6;
}
.playground-answer-button {
  margin-left: 0.5555555556vw;
}
@media screen and (min-width: 1441px) {
  .playground-answer-button {
    margin-left: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-button {
    margin-left: 0;
  }
}
@media screen and (max-width: 1000px) {
  .playground-answer-button {
    margin-top: 0.5555555556vw;
    width: 100% !important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 1441px) {
  .playground-answer-button {
    margin-top: 8px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 1000px) {
  .playground-answer-button {
    margin-top: 2.2222222222vw;
  }
}
.playground-score {
  color: #ffffff;
  font-size: 1.5277777778vw;
  font-weight: 500;
}
@media screen and (min-width: 1441px) {
  .playground-score {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-score {
    font-size: 6.1111111111vw;
  }
}
.playground-score span {
  transition: 0.2s;
}
.playground-score span.active {
  display: inline-block;
  color: #65ba6d;
  animation: wow 0.3s linear;
  -webkit-animation: wow 0.3s linear;
  animation: wow 0.3s linear;
}
.playground-notice {
  opacity: 1;
  padding-top: 0.5555555556vw;
  padding-bottom: 0.5555555556vw;
  padding-left: 1.6666666667vw;
  padding-right: 1.6666666667vw;
  background: #248a79b8;
  color: #fff;
  margin: 0 auto;
  border-radius: 3.4722222222vw;
  font-size: 2.5vw;
  transform: scale(0);
  transition: 0.1s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 5;
  position: absolute;
  top: 9.0277777778vw;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (min-width: 1441px) {
  .playground-notice {
    padding-top: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-notice {
    padding-top: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-notice {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-notice {
    padding-bottom: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-notice {
    padding-left: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-notice {
    padding-left: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-notice {
    padding-right: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-notice {
    padding-right: 4.4444444444vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-notice {
    border-radius: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-notice {
    border-radius: 13.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-notice {
    font-size: 36px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-notice {
    font-size: 6.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-notice {
    top: 130px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-notice {
    top: 22.2222222222vw;
  }
}
.playground-notice-active {
  transition: 0.1s;
  transform: scale(1);
}
.playground-timer {
  display: none;
  margin-bottom: 0.8333333333vw;
  border-radius: 3.4722222222vw;
  height: 10px;
  width: 100%;
  background-color: seagreen;
  -webkit-animation-name: timer;
  animation-name: timer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@media screen and (min-width: 1441px) {
  .playground-timer {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-timer {
    margin-bottom: 3.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-timer {
    border-radius: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-timer {
    border-radius: 13.8888888889vw;
  }
}
@-webkit-keyframes timer {
  0% {
    width: 100%;
  }
  100% {
    background-color: red;
    width: 0%;
  }
}
@keyframes timer {
  0% {
    width: 100%;
  }
  100% {
    background-color: red;
    width: 0%;
  }
}
@-webkit-keyframes wow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.playground-fact {
  color: #ffffff;
  text-align: center;
  font-size: 1.5277777778vw;
  display: inline-block;
}
@media screen and (min-width: 1441px) {
  .playground-fact {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-fact {
    font-size: 4.4444444444vw;
  }
}
.playground-fact__title {
  font-size: 2.2222222222vw;
  margin-bottom: 1.3888888889vw;
}
@media screen and (min-width: 1441px) {
  .playground-fact__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-fact__title {
    font-size: 6.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-fact__title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-fact__title {
    margin-bottom: 4.4444444444vw;
  }
}
.playground__loading .loader {
  display: block;
}
.playground__loading .playground-quest {
  transform: scale(0.001);
  opacity: 0;
  transition: 0.2s;
}
.playground-img {
  display: block;
  margin: 0 auto;
  border-radius: 0.4166666667vw;
  width: 100%;
}
@media screen and (min-width: 1441px) {
  .playground-img {
    border-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-img {
    border-radius: 1.6666666667vw;
  }
}
@media screen and (max-width: 1000px) {
  .playground-img {
    width: 100%;
    height: auto;
  }
}
.playground-img__container {
  position: relative;
  display: block;
  min-height: 30.0694444444vw;
  border-radius: 0.8333333333vw;
  margin: 0 auto;
  transition: 0.4s;
}
@media screen and (min-width: 1441px) {
  .playground-img__container {
    min-height: 433px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-img__container {
    min-height: 120.2777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .playground-img__container {
    border-radius: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-img__container {
    border-radius: 2.2222222222vw;
  }
}
@media screen and (max-width: 1000px) {
  .playground-img__container {
    width: 100%;
    min-height: auto;
  }
}
.playground-img__container-load:before {
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  width: 55.5555555556vw;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (min-width: 1441px) {
  .playground-img__container-load:before {
    width: 800px;
  }
}
@media screen and (max-width: 1000px) {
  .playground-img__container-load:before {
    width: 222.2222222222vw;
  }
}

.options-category, .options-params, .losing, .winning {
  display: none;
}

.options__title {
  display: block;
  color: #ffffff;
  font-size: 1.6666666667vw;
}
@media screen and (min-width: 1441px) {
  .options__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .options__title {
    font-size: 5.5555555556vw;
  }
}

.winning__answers {
  font-size: 1.5277777778vw;
  margin-right: 0.6944444444vw;
  margin-left: 0.6944444444vw;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1441px) {
  .winning__answers {
    font-size: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .winning__answers {
    font-size: 5vw;
  }
}
@media screen and (min-width: 1441px) {
  .winning__answers {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .winning__answers {
    margin-right: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .winning__answers {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .winning__answers {
    margin-left: 2.7777777778vw;
  }
}
.winning__answers-container {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3888888889vw;
  margin-bottom: 1.3888888889vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (min-width: 1441px) {
  .winning__answers-container {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .winning__answers-container {
    margin-top: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .winning__answers-container {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .winning__answers-container {
    margin-bottom: 5.5555555556vw;
  }
}
.winning__answers-correct {
  color: chartreuse;
}
.winning__answers-incorrect {
  color: red;
}
.winning__answers span {
  font-size: 1.9444444444vw;
  margin-left: 0.4166666667vw;
}
@media screen and (min-width: 1441px) {
  .winning__answers span {
    font-size: 28px;
  }
}
@media screen and (max-width: 1000px) {
  .winning__answers span {
    font-size: 6.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .winning__answers span {
    margin-left: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .winning__answers span {
    margin-left: 1.1111111111vw;
  }
}

.buttons-group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  width: 13.1944444444vw;
}
@media screen and (min-width: 1441px) {
  .buttons-group {
    width: 190px;
  }
}
@media screen and (max-width: 1000px) {
  .buttons-group {
    width: 52.7777777778vw;
  }
}

.button {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding-top: 0.6944444444vw;
  padding-bottom: 0.6944444444vw;
  padding-right: 0.6944444444vw;
  padding-left: 0.6944444444vw;
  border-radius: 0.4166666667vw;
  font-size: 1.9444444444vw;
  line-height: 1.9444444444vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #248a79;
  outline: none;
  transition: 0.1s;
  width: auto;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
@media screen and (min-width: 1441px) {
  .button {
    padding-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    padding-top: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .button {
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    padding-bottom: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .button {
    padding-right: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    padding-right: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .button {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    padding-left: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .button {
    border-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    border-radius: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .button {
    font-size: 28px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    font-size: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .button {
    line-height: 28px;
  }
}
@media screen and (max-width: 1000px) {
  .button {
    line-height: 5.5555555556vw;
  }
}
.button-new {
  position: relative;
}
.button-new:before {
  content: "new";
  position: absolute;
  background-color: #d6eb3c;
  color: #333;
  top: -0.9722222222vw;
  right: -0.9722222222vw;
  font-size: 1.1111111111vw;
  padding-right: 0.5555555556vw;
  padding-left: 0.5555555556vw;
  border-radius: 0.4166666667vw;
}
@media screen and (min-width: 1441px) {
  .button-new:before {
    top: -14px;
  }
}
@media screen and (max-width: 1000px) {
  .button-new:before {
    top: -2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .button-new:before {
    right: -14px;
  }
}
@media screen and (max-width: 1000px) {
  .button-new:before {
    right: -3.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .button-new:before {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .button-new:before {
    font-size: 3.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .button-new:before {
    padding-right: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .button-new:before {
    padding-right: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .button-new:before {
    padding-left: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .button-new:before {
    padding-left: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .button-new:before {
    border-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .button-new:before {
    border-radius: 1.6666666667vw;
  }
}
.button-disabled {
  cursor: default;
  pointer-events: none;
  background: #5d5d5d;
}
.button-w100 {
  width: 100%;
}
.button__small {
  font-size: 1.25vw;
}
@media screen and (min-width: 1441px) {
  .button__small {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .button__small {
    font-size: 3.8888888889vw;
  }
}
.button__xsmall {
  font-size: 1.1111111111vw;
  line-height: 1.25vw;
}
@media screen and (min-width: 1441px) {
  .button__xsmall {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .button__xsmall {
    font-size: 3.3333333333vw;
  }
}
@media screen and (min-width: 1441px) {
  .button__xsmall {
    line-height: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .button__xsmall {
    line-height: 5vw;
  }
}
@media screen and (min-width: 1001px) {
  .button:hover {
    background: #196256;
    transition: 0.3s;
  }
}
.button__answer-success {
  background: seagreen;
  box-shadow: 0 0 5px 3px #5cf9a1;
  cursor: default;
  pointer-events: none;
  -webkit-animation: zoom 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: zoom 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.button__answer-error {
  background: brown !important;
  cursor: default;
  pointer-events: none;
  -webkit-animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.button__answer span {
  font-size: 0.8333333333vw;
}
@media screen and (min-width: 1441px) {
  .button__answer span {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .button__answer span {
    font-size: 2.7777777778vw;
  }
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: rotate(-1deg);
  }
  20%, 80% {
    transform: rotate(2deg);
  }
  30%, 50%, 70% {
    transform: rotate(-4deg);
  }
  40%, 60% {
    transform: rotate(4deg);
  }
}
@keyframes shake {
  10%, 90% {
    transform: rotate(-1deg);
  }
  20%, 80% {
    transform: rotate(2deg);
  }
  30%, 50%, 70% {
    transform: rotate(-4deg);
  }
  40%, 60% {
    transform: rotate(4deg);
  }
}
.genres > div {
  margin-right: 1.3888888889vw;
}
@media screen and (min-width: 1441px) {
  .genres > div {
    margin-right: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .genres > div {
    margin-right: 5.5555555556vw;
  }
}
@media screen and (max-width: 1000px) {
  .genres {
    flex-wrap: wrap;
  }
}

.range {
  color: #ffffff;
  font-size: 1.3888888889vw;
  margin-bottom: 1.0416666667vw;
}
@media screen and (min-width: 1441px) {
  .range {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .range {
    font-size: 3.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .range {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .range {
    margin-bottom: 1.3888888889vw;
  }
}
.range input[type=number] {
  width: 5.5555555556vw;
  -moz-appearance: textfield;
  background-color: #ffffff;
  border: none;
  text-align: center;
  font-size: 1.25vw;
  padding-left: 0.6944444444vw;
  padding-right: 0.6944444444vw;
  padding-top: 0.5555555556vw;
  padding-bottom: 0.5555555556vw;
  border-radius: 0.4166666667vw;
}
@media screen and (min-width: 1441px) {
  .range input[type=number] {
    width: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .range input[type=number] {
    width: 13.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .range input[type=number] {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .range input[type=number] {
    font-size: 3.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .range input[type=number] {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .range input[type=number] {
    padding-left: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .range input[type=number] {
    padding-right: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .range input[type=number] {
    padding-right: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .range input[type=number] {
    padding-top: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .range input[type=number] {
    padding-top: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .range input[type=number] {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 1000px) {
  .range input[type=number] {
    padding-bottom: 2.2222222222vw;
  }
}
@media screen and (min-width: 1441px) {
  .range input[type=number] {
    border-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .range input[type=number] {
    border-radius: 1.6666666667vw;
  }
}
.range input[type=number]::-webkit-outer-spin-button, .range input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.range input[type=number]:focus {
  outline: none;
}
.range input[type=range] {
  height: 21px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background-color: transparent;
}
.range input[type=range]:focus {
  outline: none;
}
.range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #248a79;
  border-radius: 5px;
  border: 0px solid #000000;
}
.range input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 29px;
  background: #248a79;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
.range input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #248a79;
  border-radius: 5px;
  border: 0px solid #000000;
}
.range input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 29px;
  background: #248a79;
  cursor: pointer;
}
.range input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range input[type=range]::-ms-fill-lower {
  background: #248a79;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
.range input[type=range]::-ms-fill-upper {
  background: #248a79;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}
.range input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 0px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 29px;
  background: #248a79;
  cursor: pointer;
}

.checkbox {
  color: #ffffff;
  font-size: 1.3888888889vw;
  margin-bottom: 1.0416666667vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (min-width: 1441px) {
  .checkbox {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox {
    font-size: 3.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox {
    margin-bottom: 1.3888888889vw;
  }
}
.checkbox.option {
  display: flex;
}
.checkbox__body {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;
  margin-bottom: 0.8333333333vw;
}
@media screen and (min-width: 1441px) {
  .checkbox__body {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body {
    margin-bottom: 3.3333333333vw;
  }
}
.checkbox__body::before {
  content: "";
  display: inline-block;
  width: 1.3888888889vw;
  height: 1.3888888889vw;
  border-radius: 0.2777777778vw;
  margin-right: 1.0416666667vw;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #248a79;
}
@media screen and (min-width: 1441px) {
  .checkbox__body::before {
    width: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body::before {
    width: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox__body::before {
    height: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body::before {
    height: 5.5555555556vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox__body::before {
    border-radius: 4px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body::before {
    border-radius: 1.1111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox__body::before {
    margin-right: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body::before {
    margin-right: 4.1666666667vw;
  }
}
.checkbox__body::after {
  content: "";
  transform: scale(0);
  opacity: 0;
  transition: transform 0.1s, opacity 0.1s ease;
}
.checkbox__body.checkbox__checked::after {
  content: "";
  transform: scale(1);
  opacity: 1;
  background-color: #248a79;
  background-size: cover;
  background-position: 50%;
  background-image: url("/src/img/icon-check-white.svg");
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.2777777778vw;
  width: 1.6666666667vw;
  height: 1.6666666667vw;
}
@media screen and (min-width: 1441px) {
  .checkbox__body.checkbox__checked::after {
    border-radius: 4px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body.checkbox__checked::after {
    border-radius: 1.1111111111vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox__body.checkbox__checked::after {
    width: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body.checkbox__checked::after {
    width: 6.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox__body.checkbox__checked::after {
    height: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox__body.checkbox__checked::after {
    height: 6.6666666667vw;
  }
}
.checkbox sup {
  font-size: 0.8333333333vw;
  margin-left: 0.4166666667vw;
  margin-bottom: 0.4166666667vw;
  color: #7c7c7c;
}
@media screen and (min-width: 1441px) {
  .checkbox sup {
    font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox sup {
    font-size: 2.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox sup {
    margin-left: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox sup {
    margin-left: 1.6666666667vw;
  }
}
@media screen and (min-width: 1441px) {
  .checkbox sup {
    margin-bottom: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox sup {
    margin-bottom: 1.6666666667vw;
  }
}
.checkbox input {
  display: none;
}
.checkbox .checkbox {
  padding-left: 1.7361111111vw;
}
@media screen and (min-width: 1441px) {
  .checkbox .checkbox {
    padding-left: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .checkbox .checkbox {
    padding-left: 6.9444444444vw;
  }
}

.page404 {
  color: #fff;
  text-align: center;
}
.page404__title {
  font-size: 3.8888888889vw;
  margin-bottom: 0.6944444444vw;
}
@media screen and (min-width: 1441px) {
  .page404__title {
    font-size: 56px;
  }
}
@media screen and (max-width: 1000px) {
  .page404__title {
    font-size: 8.8888888889vw;
  }
}
@media screen and (min-width: 1441px) {
  .page404__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .page404__title {
    margin-bottom: 2.7777777778vw;
  }
}
.page404__subtitle {
  font-size: 2.2222222222vw;
  margin-bottom: 0.6944444444vw;
}
@media screen and (min-width: 1441px) {
  .page404__subtitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 1000px) {
  .page404__subtitle {
    font-size: 7.7777777778vw;
  }
}
@media screen and (min-width: 1441px) {
  .page404__subtitle {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .page404__subtitle {
    margin-bottom: 2.7777777778vw;
  }
}
.page404__link {
  color: #fff;
}

.fireworks-container {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transform: translate(50%, 0);
  overflow: visible;
}
@media screen and (max-width: 1000px) {
  .fireworks-container {
    width: 100%;
    transform: none;
  }
}

.ad-bottom {
  height: 50px;
  width: 320px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .ad-bottom {
    position: absolute;
    left: 50%;
    bottom: 2.2222222222vw;
    transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 1000px) and (min-width: 1441px) {
  .ad-bottom {
    bottom: 32px;
  }
}
@media screen and (max-width: 1000px) and (max-width: 1000px) {
  .ad-bottom {
    bottom: 8.8888888889vw;
  }
}

.ad-right, .ad-left {
  height: 400px;
  width: 240px;
}
@media screen and (max-width: 1228px) {
  .ad-right, .ad-left {
    display: none;
  }
}

.ya-share2__badge, .ya-share2__icon {
  height: 3.3333333333vw  !important;
  width: 3.3333333333vw  !important;
  background-size: 3.3333333333vw  !important;
}
@media screen and (min-width: 1441px) {
  .ya-share2__badge, .ya-share2__icon {
    height: 48px  !important;
  }
}
@media screen and (max-width: 1000px) {
  .ya-share2__badge, .ya-share2__icon {
    height: 11.6666666667vw  !important;
  }
}
@media screen and (min-width: 1441px) {
  .ya-share2__badge, .ya-share2__icon {
    width: 48px  !important;
  }
}
@media screen and (max-width: 1000px) {
  .ya-share2__badge, .ya-share2__icon {
    width: 11.6666666667vw  !important;
  }
}
@media screen and (min-width: 1441px) {
  .ya-share2__badge, .ya-share2__icon {
    background-size: 48px  !important;
  }
}
@media screen and (max-width: 1000px) {
  .ya-share2__badge, .ya-share2__icon {
    background-size: 11.6666666667vw  !important;
  }
}