@use "sass:math";

$darkColor: #282941;
// $borderColor:#2d85af;
$borderColor:#3b508b;
$white: #ffffff;
$green: #48ac5e;
$marine: #248a79;
$red: #ac4848;
$orange: #e18f42;

//breakpoints
$base-viewport-width: 1440px;
$base-mobile-viewport-width: 360px;
$base-mobile: 360px;
$mobile-width: 1000px;

// grid
$col-size: 64px;
$col-size-mobile: 44.6px;
$gap-size: 40px;
$gap-size-mobile: 12px;

@function px2vw($px, $baseW: $base-viewport-width) {
	@if $px == 0 or $px == none or $px == auto or $px == unset {
		@return $px;
	} @else {
		@return math.div($px, math.div($baseW, 100)) * 1vw;
	}
}

@function cols($quantity, $type: 'wide') {
	$col-width: $col-size;
	$gap: $gap-size;

	@if ($type == 'fluid') {
		$col-width: px2vw($col-size);
		$gap: px2vw($gap-size);
	} @else if ($type == 'mobile') {
		$col-width: px2vw($col-size-mobile, $base-mobile-viewport-width);
		$gap: px2vw($gap-size-mobile, $base-mobile-viewport-width);
	}

	@return ($col-width + $gap) * $quantity - $gap;
}

@mixin mobile {
	@media screen and (max-width: $mobile-width) {
		@content;
	}
}

@mixin not-mobile {
	@media screen and (min-width: $mobile-width + 1px) {
		@content;
	}
}

@mixin wide-screen {
	@media screen and (min-width: $base-viewport-width + 1px) {
		@content;
	}
}

@mixin fluid($prop, $desktop-size, $mobile-size: $desktop-size, $important: false) {
	$important-rule: '';
	@if ($important) {
		$important-rule: ' !important';
	}

	#{$prop}: px2vw($desktop-size)#{$important-rule};

	@include wide-screen {
		#{$prop}: $desktop-size#{$important-rule};
	}

	@include mobile {
		#{$prop}: px2vw($mobile-size, $base-mobile-viewport-width)#{$important-rule};
	}
}


@font-face {
	font-family: 'OpenSans';
	font-display: swap;
	src: url('/src/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Lobster';
	font-display: swap;
	src: url('/src/fonts/Lobster-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	font-display: swap;
	src: url('/src/fonts/RobotoCondensed-Regular.ttf');
}

._desktop-hidden {
	display: none!important;

	@include mobile {
		display: block!important;
	}
}

._mobile-hidden {
	display: block!important;

	@include mobile {
		display: none!important;
	}
}

._hidden {
	display: none!important;
}

._noopacity {
	opacity: 0!important;
}

._dflex {
	display: flex;
}

._flex-column {
	flex-direction: column;
}

._justify-content-beetwen {
	justify-content: space-between;
}

._mt30 {
	@include fluid('margin-top', 30px, 18px);
}

._mb20 {
	@include fluid('margin-bottom', 20px, 14px);
}

._my20 {
	@include fluid('margin-top', 20px, 14px);
	@include fluid('margin-bottom', 20px, 14px);
}

* {
	// font-family: 'OpenSans';
	// font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-family: 'Roboto';
}
body {
	background: black;
	margin: 0;
	overflow: hidden;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		background-image: url('/src/img/doodle.webp');
		background-repeat: repeat;
		background-size: auto;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		z-index: -1;
	}
}

.count-films {
	color: $white;
	@include fluid('font-size', 12px, 12px);
	position: absolute;
	@include fluid('bottom', 12px, 12px);
	left: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%, 0);
}

.tooltip {
	border-radius: 50%;
	border: 1px solid $marine;
	color: $white;
	background-color: rgba(0,0,0,0.5);
	@include fluid('height', 20px);
	@include fluid('width', 20px);
	display: flex;
    align-items: center;
    justify-content: center;
	@include fluid('font-size', 16px, 14px);
	@include fluid('margin-left', 12px);
	position: relative;
	z-index: 9;

	& .tooltip-text {
		visibility: hidden;
		position: absolute;
		display: inline-block;
		color: $white;
		background-color: #2e2e2e;
		@include fluid('width', 300px);
		@include fluid('padding-top', 8px, 16px);
		@include fluid('padding-bottom', 8px, 16px);
		@include fluid('padding-left', 8px, 16px);
		@include fluid('padding-right', 8px, 16px);
		@include fluid('left', 48px);
		top: 0;

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border: solid transparent;
			@include fluid('border-width', 16px);
			border-right-color: #2e2e2e;
			top: 50%;
			@include fluid('left', -32px);
			transform: translateY(-50%);
		}
	}

	&:hover {
		& .tooltip-text {
			visibility: visible;
			opacity: 1;
			transform: translateX(0%) translateY(-30%);
		}
	}

	@include mobile {
		position: unset;

		& .tooltip-text {
			width: 86vw;
			left: 2%;
			right: 2%;
			border: 1px solid $white;
			top: 50%;

			&:after {
				display: none;
			}
		}
	}
}

.text {
	color: $white;
	@include fluid('font-size', 18px, 14px);

	&-center {
		text-align: center;
	}

	&-large {
		@include fluid('font-size', 50px, 32px);
		line-height: 1;
	}
}

.container	{
	@include fluid('max-width', 1208px);
	@include fluid('min-width', 600px);
	// max-width: 1300px;
	margin: 0 auto;
	// position: relative;
	// height: 90%;

	@include mobile {
		max-width: auto;
		min-width: auto;
		width: 100%;
	}
}

.options, .losing, .about {
	@include fluid('padding-left', 50px);
	@include fluid('padding-right', 50px);
}

.menu {
	@include fluid('width', 600px);
	text-align: center;

	@include mobile {
		width: 100%;
	}

	&__logo {
		background-image: url('/src/img/logo.webp');
		@include fluid('height', 370px, 212px);
		width: auto;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		@include fluid('margin-bottom', 40px);

		@include mobile {
			width: 100%;
		}
	}

	&__shot {
		background-repeat: no-repeat;
		background-position: center;
		@include fluid('height', 290px, 212px);
		@include fluid('width', 520px);
		filter: blur(2px);
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);

		@include mobile {
			height: 78%;
			width: 90%;
		}
	}

	&__title {
		font-family: 'Lobster';
		color: #ffad18;
		text-shadow: 3px 3px 0px #000;
		font-weight: 500;
		@include fluid('font-size', 66px, 42px);
		line-height: 1;
		z-index: 3;
	}

	.button {
		box-sizing: border-box;
		@include fluid('padding-left', 20px);
		@include fluid('padding-right', 20px);

	}
}

.other-games {
	display: none;
	@include fluid('width', 600px);
	text-align: center;

	@include mobile {
		width: 100%;
	}

	.button {
		box-sizing: border-box;
		@include fluid('padding-left', 20px);
		@include fluid('padding-right', 20px);
	}
}

.loader {
	display: none;
	color: #fff;
	@include fluid('font-size', 32px, 24px);
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;

	// &::before {
	// 	content: '\a';
	// 	background: url('/src/img/loader.png') no-repeat;
	// 	background-size: contain;
	// 	display: inline-block;
	// 	white-space: pre;
	// 	@include fluid('height', 60px, 30px);
	// 	@include fluid('width', 60px, 30px);
	// 	animation: spin .7s linear infinite;
	// }
}

// @keyframes spin {
// 	100% {
// 		-webkit-transform: rotate(360deg);
// 		transform: rotate(360deg);
// 	}
// }

.header {
	position: absolute;
	width: inherit;
	box-sizing: border-box;
	@include fluid('top', 12px);

	@include mobile {
		@include fluid('padding-left', 20px);
		@include fluid('padding-right', 20px);
		left: 0;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.about {
	display: none;
	color: $white;
	@include fluid('font-size', 22px, 16px);
}

.playground {
	// visibility: hidden;
	display: none;
	@include fluid('width', 800px);

	@include mobile {
		width: 100%;
	}

	&-quest {
		transition: .2s;
		opacity: 1;
	}

	&-answers {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		@include fluid('margin-top', 20px);
		margin-bottom: 0;
		margin-right: auto;
		margin-left: auto;
		// @include fluid('height', 200px);
		align-items: center;

		& .button {
			width: 47%;
			@include fluid('height', 26px, 24px);
			display: flex;
			align-items: center;
			justify-content: center;
			// @include fluid('width', 370px);
			@include fluid('margin-bottom', 8px);

			@include mobile {
				width: 100%;
			}
		}
	}

	&-answer {
		display: flex;
		align-items: flex-start;
		@include fluid('margin-top', 20px, 14px);

		@include mobile {
			flex-wrap: wrap;
		}

		&-left {
			width: 100%;
			position: relative;
		}

		&-input {
			width: 100%;
			@include fluid('padding-top', 8px);
			@include fluid('padding-bottom', 8px);
			@include fluid('padding-left', 16px, 16px);
			@include fluid('padding-right', 16px, 16px);
			@include fluid('font-size', 18px);
			@include fluid('line-height', 32px);
			@include fluid('border-radius', 6px);
			border: none;
			outline: none;

			&-opened {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		&-suggestions {
			position: absolute;
			width: 100%;
			@include fluid('border-bottom-left-radius', 6px);
			@include fluid('border-bottom-right-radius', 6px);
			overflow: hidden;
		}
		&-suggestion {
			cursor: pointer;
			background-color: $white;
			@include fluid('padding-top', 8px);
			@include fluid('padding-bottom', 8px);
			@include fluid('padding-left', 16px, 16px);
			@include fluid('padding-right', 16px, 16px);

			&:hover {
				background-color: darken($white, 10%);
			}
		}

		&-button {
			@include fluid('margin-left', 8px, 0);

			@include mobile {
				@include fluid('margin-top', 8px);
				width: 100%!important;
			}
		}
	}

	&-score {
		color: $white;
		@include fluid('font-size', 22px);
		font-weight: 500;

		span {
			transition: .2s;

			&.active {
				display: inline-block;
				color: rgb(101, 186, 109);

				animation: wow .3s linear;
				-webkit-animation: wow .3s linear;
				-moz-animation: wow .3s linear;
				-o-animation: wow .3s linear;
				animation: wow .3s linear;
			}
		}
	}

	&-notice {
		opacity: 1;
		@include fluid('padding-top', 8px);
		@include fluid('padding-bottom', 8px);
		@include fluid('padding-left', 24px, 16px);
		@include fluid('padding-right', 24px, 16px);
		background: #248a79b8;;
		// border: 2px solid $green;
		color: #fff;
		margin: 0 auto;
		@include fluid('border-radius', 50px);
		@include fluid('font-size', 36px, 24px);
		transform: scale(0);
		transition: .1s;
		width: fit-content;
		z-index: 5;
		position: absolute;
		@include fluid('top', 130px, 80px);
		left: 0;
		right: 0;
		margin: auto;

		&-active {
			transition: .1s;
			transform: scale(1);
		}
	}

	&-timer {
		display: none;
		@include fluid('margin-bottom', 12px);
		@include fluid('border-radius', 50px);
		height: 10px;
		width: 100%;
		background-color: seagreen;
		animation-name: timer;
		animation-timing-function: linear;
	}

	@keyframes timer {
		0% {
			width: 100%;
		}

		100% {
			background-color: red;
			width: 0%;
		}
	}

	@keyframes wow {
		0% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}

		50% {
			-webkit-transform: scale(1.5);
			-moz-transform: scale(1.5);
			-o-transform: scale(1.5);
			transform: scale(1.5);
		}

		100% {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);
		}
	}

	&-fact {
		color: $white;
		text-align: center;
		@include fluid('font-size', 22px, 16px);

		display: inline-block;

		&__title {
			@include fluid('font-size', 32px, 24px);
			@include fluid('margin-bottom', 20px, 16px);
		}
	}

	&__loading {
		.loader {
			display: block;
		}

		& .playground-quest {
			transform: scale(0.001);
			opacity: 0;
			transition: .2s;
		}
	}

	&-img {
		display: block;
		margin: 0 auto;
		@include fluid('border-radius', 6px, 6px);
		width: 100%;

		@include mobile {
			width: 100%;
			height: auto;
		}

		&__grayscale {
			filter: grayscale(1);
		}

		&__container {
			position: relative;
			display: block;
			@include fluid('min-height', 433px);
			@include fluid('border-radius', 12px, 8px);
			margin: 0 auto;
			transition: .4s;

			@include mobile {
				width: 100%;
				// height: auto;
				min-height: auto;
			}

			&-load {
				&:before {
					content: '';
					height: 100%;
					// background-color: rgba(0,0,0,0.5);
					display: block;
					position: absolute;
					@include fluid('width', 800px);
					left: 50%;
					transform: translate(-50%);
				}

				// & .loader {
				// 	display: block;
				// }
			}
		}
	}
}

.options-category, .options-params, .losing, .winning {
	display: none;
	// transform: translate(-50%, -50%);
	// position: absolute;
	// top: 50%;
	// left: 50%;
}

.options {
	&__title {
		display: block;
		color: $white;
		@include fluid('font-size', 24px, 20px);
	}

	&__subtitle {
		color: $white;
		display: inline;
		@include fluid('font-size', 20px, 16px);
	}
}

.winning {

	&__answers {
		@include fluid('font-size', 22px, 18px);
		// @include fluid('margin-right', 10px);
		// @include fluid('margin-left', 10px);
		display: flex;
		align-items: center;

		&-container {
			// display: flex;
			// justify-content: space-between;
			margin-left: auto;
			margin-right: auto;
			@include fluid('margin-top', 20px);
			@include fluid('margin-bottom', 20px);
			width: 90%;
		}
	}
}

.statistics {
	display: block;
	@include fluid('width', 520px);

	@include mobile {
		width: 100%;
	}

	&-container {
		margin-left: auto;
		margin-right: auto;
		@include fluid('margin-top', 20px);
		@include fluid('margin-bottom', 20px);
		width: 90%;
	}

	&-correct {
		color: chartreuse;
		@include fluid('width', 90px);

		@include mobile {
			width: 100%;
		}
	}
	&-incorrect {
		color: red;
		@include fluid('width', 90px);

		@include mobile {
			width: 100%;
		}
	}

	& span {
		@include fluid('font-size', 28px, 18px);
		@include fluid('margin-left', 6px, 4px);
	}
}

.buttons-group {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
	@include fluid('width', 190px);
}

.button {
	display: inline-block;
	color: $white;
	text-decoration: none;
	@include fluid('padding-top', 10px);
	@include fluid('padding-bottom', 10px);
	@include fluid('padding-right', 10px);
	@include fluid('padding-left', 10px);
	@include fluid('border-radius', 6px);
	@include fluid('font-size', 28px, 20px);
	@include fluid('line-height', 28px, 20px);
	user-select: none;
	background: #248a79;
	outline: none;
	transition: .1s;
	width: auto;
	font-weight: 500;
	text-align: center;
	cursor: pointer;

	&-new {
		position: relative;
		&:before {
			content: 'new';
			position: absolute;
			background-color: #d6eb3c;
			color: #333;
			@include fluid('top', -14px, -10px);
			@include fluid('right', -14px);
			@include fluid('font-size', 16px, 14px);
			@include fluid('padding-right', 8px);
			@include fluid('padding-left', 8px);
			@include fluid('border-radius', 6px);
		}
	}

	&-disabled {
		cursor: default;
		pointer-events: none;
		background: #5d5d5d;
	}

	&-w100 {
		width: 100%;
	}

	&__small {
		@include fluid('font-size', 18px, 14px);
	}

	&__xsmall {
		@include fluid('font-size', 16px, 12px);
		@include fluid('line-height', 18px, 18px);
	}

	@include not-mobile {
		&:hover {
			background: darken(#248a79, 10%);
			transition: .3s;
			// transform: scale(1.1);
		}
	}

	&__answer {
		&-success {
			background: seagreen;
			box-shadow: 0 0 5px 3px #5cf9a1;
			cursor: default;
			pointer-events: none;
			animation: zoom .5s cubic-bezier(.36,.07,.19,.97) both;
		}
		&-error {
			background: brown!important;
			cursor: default;
			pointer-events: none;
			animation: shake .5s cubic-bezier(.36,.07,.19,.97) both;
		}

		& span {
			@include fluid('font-size', 12px, 10px);
		}
	}
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes shake {
	10%, 90% {
		transform: rotate(-1deg);
	}

	20%, 80% {
		transform: rotate(2deg);
	}

	30%, 50%, 70% {
		transform: rotate(-4deg);
	}

	40%, 60% {
		transform: rotate(4deg);
	}
}

.genres {
	& > div {
		@include fluid('margin-right', 20px);
	}

	@include mobile {
		flex-wrap: wrap;
	}
}



.range {
	color: $white;
	@include fluid('font-size', 20px, 14px);
	@include fluid('margin-bottom', 15px, 5px);

	& input[type=number] {
		@include fluid('width', 80px, 50px);
		-moz-appearance: textfield;
		background-color: $white;
		border: none;
		text-align: center;
		@include fluid('font-size', 18px, 14px);

		@include fluid('padding-left', 10px);
		@include fluid('padding-right', 10px);
		@include fluid('padding-top', 8px);
		@include fluid('padding-bottom', 8px);
		@include fluid('border-radius', 6px);

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&:focus {
			outline: none;
		}
	}

	& input[type=range] {
		height: 21px;
		-webkit-appearance: none;
		margin: 10px 0;
		width: 70%;
		background-color: transparent;

		&:focus {
			outline: none;
		}
		&::-webkit-slider-runnable-track {
			width: 100%;
			height: 5px;
			cursor: pointer;
			animate: 0.2s;
			box-shadow: 0px 0px 0px #000000;
			background: $marine;
			border-radius: 5px;
			border: 0px solid #000000;
		}
		&::-webkit-slider-thumb {
			box-shadow: 1px 1px 1px #000000;
			border: 0px solid #000000;
			height: 18px;
			width: 18px;
			border-radius: 29px;
			background: $marine;
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: -6.5px;
		}
		&::-moz-range-track {
			width: 100%;
			height: 5px;
			cursor: pointer;
			animate: 0.2s;
			box-shadow: 0px 0px 0px #000000;
			background: $marine;
			border-radius: 5px;
			border: 0px solid #000000;
		}
		&::-moz-range-thumb {
			box-shadow: 1px 1px 1px #000000;
			border: 0px solid #000000;
			height: 18px;
			width: 18px;
			border-radius: 29px;
			background: $marine;
			cursor: pointer;
		}
		&::-ms-track {
			width: 100%;
			height: 5px;
			cursor: pointer;
			animate: 0.2s;
			background: transparent;
			border-color: transparent;
			color: transparent;
		}
		&::-ms-fill-lower {
			background: $marine;
			border: 0px solid #000000;
			border-radius: 10px;
			box-shadow: 0px 0px 0px #000000;
		}
		&::-ms-fill-upper {
			background: $marine;
			border: 0px solid #000000;
			border-radius: 10px;
			box-shadow: 0px 0px 0px #000000;
		}
		&::-ms-thumb {
			margin-top: 1px;
			box-shadow: 1px 1px 1px #000000;
			border: 0px solid #000000;
			height: 18px;
			width: 18px;
			border-radius: 29px;
			background: $marine;
			cursor: pointer;
		}
	}
}

.inner-link {
	color: $marine;
	cursor: pointer;
	text-decoration: underline;
}

.modal {
	@include fluid('width', 480px);
	border: 1px solid $marine;
	color: $white;
	background-color: rgba(0, 0, 0, .9);
	backdrop-filter: blur(4px);
	@include fluid('padding-top', 24px);
	@include fluid('padding-bottom', 24px);
	@include fluid('padding-right', 24px);
	@include fluid('padding-left', 24px);

	@include mobile {
		width: 80%;
	}

	&__close {
		position: absolute;
		@include fluid('top', 24px);
		@include fluid('right', 24px);
		@include fluid('font-size', 22px);
		color: $white;
		transition: .2s;
		cursor: pointer;

		&:hover {
			color: $marine;
			transition: .2s;
		}
	}

	&__btns {
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		@include fluid('width', 310px);

		@include mobile {
			width: 100%;
		}
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.8);
	}
}

.years-grid {
	display: grid;
	@include fluid('grid-gap', 6px);
    grid-template-columns: 1fr 1fr 1fr;
	@include fluid('margin-bottom', 16px, 12px);
	overflow: hidden;

	@include mobile {
		display: flex;
		flex-wrap: wrap;
	}

	.segment-year {
		@include fluid('width', 120px);
		@include fluid('height', 40px, 30px);
		color: $white;
		cursor: pointer;
		border: 1px solid $marine;
		align-content: center;
		text-align: center;
		@include fluid('padding-top', 16px, 8px);
		@include fluid('padding-bottom', 16px, 8px);
		@include fluid('padding-left', 16px, 12px);
		@include fluid('padding-right', 16px, 12px);
		@include fluid('font-size', 14px);

		@include mobile {
			min-width: 100%;
			box-sizing: border-box;
		}

		&-selected {
			background-color: $marine;
		}
	}
}

.flight-types {
	margin: 0 auto;
	font-size: 12px;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;

	& label {
		padding: 6px 3px;
		transition: color 250ms cubic-bezier(0,.95,.38,.98);
		&:before {
			background: #fff;
			transition: all 250ms cubic-bezier(0,.95,.38,.98);
		}
		&:not(:last-child) {
			border-right: 1px solid #fff;
		}
	}
}

.stat {
	display: flex;
	justify-content: space-between;
	color: $white;

	&_name {

	}

	&_value {
		display: flex;
	}
}



.checkbox {
	color: $white;
	@include fluid('font-size', 20px, 14px);
	@include fluid('margin-bottom', 15px, 5px);
	cursor: pointer;
	user-select: none;

	&.option {
		display: flex;
	}

	&__body {
		display: flex;
		align-items: center;
		position: relative;
		line-height: 1;
		@include fluid('margin-bottom', 12px);

		&::before {
			content: '';
			display: inline-block;
			@include fluid('width', 20px, 20px);
			@include fluid('height', 20px, 20px);
			@include fluid('border-radius', 4px);
			@include fluid('margin-right', 15px);
			background-color: rgba(0,0,0,0.5);
			border: 2px solid #248a79;
		}

		&::after {
			content: '';
			transform: scale(0);
			opacity: 0;
			transition: transform .1s,opacity .1s ease;
		}

		&.checkbox__checked::after {
			content: '';
			transform: scale(1);
			opacity: 1;
			background-color: #248a79;
			background-size: cover;
			background-position: 50%;
			background-image: url('/src/img/icon-check-white.svg');
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			@include fluid('border-radius', 4px);
			@include fluid('width', 24px, 24px);
			@include fluid('height', 24px, 24px);
		}
	}

	& sup {
		@include fluid('font-size', 12px, 10px);
		@include fluid('margin-left', 6px);
		@include fluid('margin-bottom', 6px);
		color: rgb(124, 124, 124);
	}

	& input {
		display: none;
	}

	& .checkbox {
		@include fluid('padding-left', 25px);
	}
}

.page404 {
	color: #fff;
	text-align: center;

	&__title {
		@include fluid('font-size', 56px, 32px);
		@include fluid('margin-bottom', 10px);
	}
	&__subtitle {
		@include fluid('font-size', 32px, 28px);
		@include fluid('margin-bottom', 10px);
	}
	&__link {
		color: #fff;
	}
}

.fireworks-container {
	width: 50%;
	height: 100%;
	position: absolute;
	z-index: -1;
	transform: translate(50%, 0);
	overflow: visible;

	@include mobile {
		width: 100%;
		transform: none;
	}
}

.ad-bottom {
	// background-color: red;
	height: 50px;
	width: 320px;
	margin: 0 auto;

	@include mobile {
		position: absolute;
		left: 50%;
		@include fluid('bottom', 32px);
		transform: translate(-50%, 0);
	}
}

.ad-right, .ad-left {
	// background-color: red;
	height: 400px;
	width: 240px;

	@media screen and (max-width: 1228px) {
		display: none;
	}
}

.ya-share2__badge, .ya-share2__icon {
	@include fluid('height', 48px, 42px, true);
	@include fluid('width', 48px, 42px, true);
	@include fluid('background-size', 48px, 42px, true);
}
